.my-footer {
    /*height: 9em;*/
    background-color: #163b65;
    margin-top: 1.5em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 100000;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}