{{template "base" .}}

{{define "content"}}

<div class="container mt-2">
    <div class="row">
        <div class="col">

            <h1>Welcome to Fort Smythe Bed and Breakfast</h1>
            <br>
            <div style="text-align: center;">
                <img class="w-50 ti-layout-media-center" src="/static/images/outside.png">
            </div>
            <p>

                Welcome to Forth Smythe, a charming and cozy bed & breakfast nestled in the heart of Canada. Our little
                haven is designed to offer guests a warm and personal experience, combining the comforts of home with
                the beauty of the Canadian landscape. Whether you’re seeking a peaceful retreat or a base for exploring
                local attractions, Forth Smythe is the perfect place to unwind and recharge.
            </p>

            <p>
                Our B&B features two uniquely appointed rooms, each thoughtfully designed to provide comfort and
                tranquility. Every detail, from the plush bedding to the carefully chosen décor, is intended to create a
                welcoming atmosphere that makes every stay special. Guests can enjoy a quiet morning with a cup of
                locally roasted coffee or spend an evening relaxing in our cozy common spaces, where stories and
                laughter are always welcome.
            </p>

            <p>
                At Forth Smythe, we pride ourselves on personalized hospitality. From the moment you arrive, we aim to
                make your stay seamless and memorable. Our central location allows easy access to nearby scenic trails,
                charming towns, and cultural experiences, while the serene setting of our property ensures a restful
                night’s sleep. Whether you’re here for a weekend getaway or an extended stay, we look forward to sharing
                the warmth and charm of Forth Smythe with you.
            </p>


        </div>
    </div>
</div>

{{end}}