{{template "base" .}}

{{define "content"}}


<!--Main content-->
<div class="container mt-2">

    <div class="row">
        <!--in bootstrap col is divided to 12 section-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="/static/images/room-images/generals-quarters.png"
                 class="img-fluid img-thumbnail mx-auto d-block room-image"
                 alt="room image">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to General's quarters</h1>
            <p class="text-center mt-4">Your home away from home.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Step into the General’s Quarters, a cozy and elegant retreat that combines comfort with a touch of
                classic charm. Perfect for solo travelers or couples, this room offers a peaceful haven with soft
                linens,
                warm lighting, and thoughtful touches to make you feel right at home. Wake up refreshed and ready
                to explore the beauty surrounding Forth Smythe.
            </p>
        </div>
    </div>

    <div>
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>


{{end}}


{{define "js"}}
<script src="/static/js/checkAvailability.js"></script>

<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        // For General's Quarters, the room ID is 1
        const roomId = "7";
        const csrf = "{{.CSRFToken}}";
        checkAvailability(roomId, csrf);
    });
</script>

{{end}}