{{template "base" .}}

{{define "content"}}


<!--Main content-->
<div class="container mt-2">

    <div class="row">
        <!--in bootstrap col is divided to 12 section-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="/static/images/room-images/marjors-suite.png"
                 class="img-fluid img-thumbnail mx-auto d-block room-image"
                 alt="room image">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to Major's suite</h1>
            <p class="text-center mt-4">Your home away from home</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                The Major’s Suite is our spacious and luxurious option, designed for those who enjoy a little extra
                room to relax. With plush bedding, a charming seating area, and tasteful décor, this suite is ideal for
                couples or small families seeking a serene getaway. Morning light fills the space, making it the
                perfect spot to enjoy a leisurely breakfast before your day of adventure.
            </p>
        </div>
    </div>

    <div>
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>


{{end}}

{{define "js"}}
<script src="/static/js/checkAvailability.js"></script>

<script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
        // For Major's Suite, the room ID is 4
        const roomId = "8";
        const csrf = "{{.CSRFToken}}";
        checkAvailability(roomId, csrf);
    });
</script>

{{end}}